* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    height: 100vh;
}

header {
    width: 100vw;
    height: 7rem;
    background-color: #ffcd28;
    display: flex;
    padding-left: 2rem;
    align-items: center;
}

header h1 {
    font-size: 4rem;
    font-family: "Roboto";

}

header h1 p {
    font-size: 1.5rem;
    margin-left: 15rem;
}

article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

article h3 {
    font-size: 5rem;
    font-family: "Roboto";
    font-weight: 400;
}

article .portfolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article .portfolio a {
    width: 300px;        
    height: 450px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    box-shadow: 7px 7px 6px 1px;
}

article .portfolio a h5{
    margin: auto;
    font-size: 3.5rem;
    font-family: "Roboto";
}

article .portfolio a img{
    margin: auto;
    width: 90%;
    box-shadow: 5px 5px 10px 2px;
}

#even {
    background-color: #D2B48C;
}

#odd {
    background-color: #FFE4B5;
}

