* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 7rem;
    background-color: #ffcd28;
    display: flex;
    padding-left: 2rem;
    align-items: center;
}

header h1 {
    font-size: 4rem;
    font-family: "Roboto";

}

header h1 p {
    font-size: 1.5rem;
    margin-left: 15rem;
}

article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

article h3 {
    font-size: 5rem;
    font-family: "Roboto";
    font-weight: 400;
}

article .portfolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article .portfolio a {
    width: 300px;        
    height: 450px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    box-shadow: 7px 7px 6px 1px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    transition: all .3s ease;
}

article .portfolio a:hover{
    box-shadow: none;
    outline: 4px solid #ffcd28;
}

.card:hover img {
    transform: 
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
    transition: all .3s ease;
    opacity: .5;
    box-shadow: none;
}


.card:hover p{
    opacity: 1;
    transform: translateY(10%);
    transition: all .3s ease;
}

article .portfolio a h5{
    margin: auto;
    font-size: 3.5rem;
    font-family: "Roboto";
}

article .portfolio a img{
    margin: auto;
    box-shadow: 5px 5px 10px 2px;
    border-radius: 4px;
    height: 300px;
    width: 200px;
    object-fit: cover;
}

article .portfolio a p{
    position: absolute;
    height: fit-content;
    width: 170px;
    top: 23%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    font-size: 1.31rem;
    font-family: "roboto";
    font-weight: bold;
    color: #000;
}

article .portfolio a img:hover{
    position: relative;

}

#even {
    background-color: #D2B48C;
}

#odd {
    background-color: #FFE4B5;
}


footer {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: #ffcd28;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
}


footer a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

footer a img{
    height: 2.5rem;
}