* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "roboto";
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(./background.jpg);
}

header {
    width: 100vw;
    height: 7rem;
    background-color: #ffcd28;
    display: flex;
    align-items: center;
    user-select: none;
}

header a{
    text-decoration: none;
    color: #000;
}

header h1 {
    font-size: 4rem;
    font-family: "Roboto";

}

header h1 p {
    font-size: 1.5rem;
    margin-left: 10rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 7rem);
    padding: 1rem;
}

.contenido-centrado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor {
    width: 80vw;
    max-width: 600px;
    min-height: 500px;
    padding: 20px;
    background-color: white;
    border: 5px solid #000;
    border-radius: 30px;
}

.contenedor-interno{
    width: 80%;
}

#titulo {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

#cita {
    font-size: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#autor {
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#boton-cambiar-cita {
    width: 180px;
    height: 50px;
    font-size: 20px;
}